<?xml version="1.0"?>
<robot name="laikago_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- <xacro:arg name="laser_visual"  default="false"/> -->
  <!-- <xacro:arg name="camera_visual" default="false"/> -->
  <!-- <xacro:arg name="imu_visual"    default="false"/> -->
  <xacro:arg name="robot_namespace" default="/laikago" />
    <!-- ros_control plugin -->
  <!--  <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>  -->

 <gazebo>
  <plugin name="balance_controller" filename="librobot_state_gazebo_ros_control_plugin.so">
    <robotNamespace>$(arg robot_namespace)</robotNamespace>
    <robotSimType>balance_controller/SimRobotStateHardwareInterface</robotSimType>
  </plugin>
 </gazebo>

    <!-- Show the trajectory of trunk center. -->
    <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>10</frequency>
            <plot>
                <link>base</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Yellow</material>
            </plot>
        </plugin>
    </gazebo>

    <!-- Show the trajectory of foot. You can add another trajectory about another foot. -->
    <!-- <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>100</frequency>
            <plot>
                <link>FL_foot</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Green</material>
            </plot>
        </plugin>
    </gazebo> -->

    <gazebo>
        <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
            <bodyName>base_inertia</bodyName>
            <topicName>/apply_force/trunk</topicName>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>1000.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- Foot contacts. -->
    <gazebo reference="RF_SHANK">
        <sensor name="RF_foot_contact" type="contact">
        <update_rate>100</update_rate>
                <plugin name="RF_FOOT_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
                  <alwaysOn>true</alwaysOn>
                  <frameName>RF_FOOT</frameName>
                  <!-- <frameName>world</frameName> -->
                  <updateRate>1000.0</updateRate>
                  <bumperTopicName>RF_FOOT_bumper</bumperTopicName>
                </plugin>
        <contact>
            <collision>RF_SHANK_fixed_joint_lump__RF_FOOT_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="LF_SHANK">
        <sensor name="LF_foot_contact" type="contact">
        <update_rate>100</update_rate>
                <plugin name="LF_FOOT_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
                  <alwaysOn>true</alwaysOn>
                  <frameName>LF_FOOT</frameName>
                  <!-- <frameName>world</frameName> -->
                  <updateRate>1000.0</updateRate>
                  <bumperTopicName>LF_FOOT_bumper</bumperTopicName>
                </plugin>
        <contact>
            <collision>LF_SHANK_fixed_joint_lump__LF_FOOT_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="RH_SHANK">
        <sensor name="RH_foot_contact" type="contact">
        <update_rate>100</update_rate>
                <plugin name="RH_FOOT_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
                  <alwaysOn>true</alwaysOn>
                  <frameName>RH_FOOT</frameName>
                  <!-- <frameName>world</frameName> -->
                  <updateRate>1000.0</updateRate>
                  <bumperTopicName>RH_FOOT_bumper</bumperTopicName>
                </plugin>
        <contact>
            <collision>RH_SHANK_fixed_joint_lump__RH_FOOT_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="LH_SHANK">
        <sensor name="LH_foot_contact" type="contact">
        <update_rate>100</update_rate>
                <plugin name="LH_FOOT_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
                  <alwaysOn>true</alwaysOn>
                  <frameName>LH_FOOT</frameName>
                  <!-- <frameName>world</frameName> -->
                  <updateRate>1000.0</updateRate>
                  <bumperTopicName>LH_FOOT_bumper</bumperTopicName>
                </plugin>
        <contact>
            <collision>LH_SHANK_fixed_joint_lump__LH_FOOT_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>

    <!-- Visualization of Foot contacts. -->
    <gazebo reference="RF_FOOT">
        <visual>
            <plugin name="drawForcePlugin" filename="libLaikagoDrawForcePlugin.so">
                <topicName>RF_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="LF_FOOT">
        <visual>
            <plugin name="drawForcePlugin" filename="libLaikagoDrawForcePlugin.so">
                <topicName>LF_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="RH_FOOT">
        <visual>
            <plugin name="drawForcePlugin" filename="libLaikagoDrawForcePlugin.so">
                <topicName>RH_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="LH_FOOT">
        <visual>
            <plugin name="drawForcePlugin" filename="libLaikagoDrawForcePlugin.so">
                <topicName>LH_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>

    <gazebo reference="base">
        <material>Gazebo/Green</material>
        <turnGravityOff>false</turnGravityOff>
        <mu1 value="10.0"/>
        <mu2 value="10.0"/>
        <kp value="10000000.0" />
        <kd value="1.0" />
        <fdir1 value="1 0 0"/>
        <gravity value="true"/>
    </gazebo>


    <gazebo reference="base_inertia">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- FL leg -->
    <gazebo reference="LF_HIP">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="LF_THIGH">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="LF_SHANK">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="LF_FOOT">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="RF_HIP">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RF_THIGH">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RF_SHANK">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RF_FOOT">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="LH_HIP">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="LH_THIGH">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="LH_SHANK">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="LH_FOOT">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="RH_HIP">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RH_THIGH">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RH_SHANK">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RH_FOOT">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

</robot>
